.TRAViz-copyright-link {
	z-index: 100;
	position: relative;
	margin-top: -60px;
	float: right;
}

.TRAViz-copyright {
	width: 232px;
	height: 50px;
	background-image: url(images/cr.png);
}

.unlink {
	width: 23px;
	height: 16px;
	background:#FFFFFF url(images/unlink.png) no-repeat;
	cursor: pointer;
}
